<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary"> Cadastro de Colaboradores </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nome" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="cargo">
          <mat-option *ngFor="let cargo of cargos" [value]="cargo">
            {{cargo.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Empresa</mat-label>
        <mat-select formControlName="empresa">
          <mat-option *ngFor="let empresa of empresas" [value]="empresa">
            {{empresa.nomeFantasia}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
      </mat-card-actions>

    </form>
